@model TemplateProject.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template Project | Şifremi Unuttum</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/Site/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Site/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>TEMPLATE PROJECT</b><br />Şifremi Unuttum</a>
        </div>
        <div class="login-box-body">
            <form asp-controller="Account" asp-action="ForgetPassword">
                @if (ViewBag.Message != null)
                {
                    <div class="form-group alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <b>@ViewBag.Message</b>
                    </div>
                }
                <div class="form-group has-feedback">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" name="email" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sıfırla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Content/Site/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Site/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>