@model TemplateProject.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template Project | Giriş Yap</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/Site/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Site/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>TEMPLATE PROJECT</b><br />Giriş Yap</a>
        </div>
        <div class="login-box-body">
            <form asp-action="Login" asp-controller="Account">
                <div class="form-group has-feedback">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifre" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
                    </div>
                </div>
            </form>
            <br />
            <label class="control-label"><a asp-action="ForgetPassword" asp-controller="Account">Şifremi Unuttum</a><br></label>
            <label class="control-label">Hesabınız yoksa <a href="register" class="text-center">buradan</a> kayıt olun</label>
        </div>
    </div>
    <script src="~/Content/Site/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Site/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
