@model TemplateProject.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template Project | Kayıt Ol</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/Site/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Site/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>TEMPLATE PROJECT</b><br />Kayıt Ol</a>
        </div>

        <div class="register-box-body">
            <form asp-action="Register" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group has-feedback">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Kayıt Ol</button>
                    </div>
                </div>
            </form>
            <br />
            <label class="control-label">Hesabınız var mı? <a href="login" class="text-center">Buradan</a> giriş yapın.</label>
        </div>
    </div>
    <script src="~/Content/Site/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Site/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>