@model IEnumerable<TemplateProject.Models.CarBrands>

@{
    ViewData["Title"] = "Markalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <h3>
            <i class="fa fa-car"></i>&nbsp;Markalar
        </h3>
        <form method="post" enctype="multipart/form-data">
            <a class="btn btn-success" asp-action="CarBrandCreate">Yeni Oluştur</a>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <div class="box table-responsive">
                    <div class="box-body">
                        <table id="allTables" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="fa fa-ellipsis-h"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef">
                                                    <li><a asp-action="CarBrandEdit" asp-route-id="@item.Id">Güncelle</a></li>
                                                    <li><a asp-action="CarBrandDelete" asp-route-id="@item.Id">Sil</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>